header {
  position:fixed;
  background-color: rgba(31.0, 31.0, 25.0, .96);
  -webkit-box-shadow: inset 9px 0px 50px 15px rgba(0,0,0,0.3); 
  box-shadow: inset 9px 0px 50px 15px rgba(0,0,0,0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 100vw;
  padding:0 25px;
  h2{
    color:#fff;
  }
  nav {
    display: flex;
    justify-content: space-evenly;
    // min-width:40%;
    a{
        text-decoration: none;
        color:#666;
        padding:5px;
        margin:5px 5px;
        &:hover{
            cursor: pointer;
            color:blue;
        }
        &:visited{
            color:#666;
        }
    }
  }
}
